body {
  height: 100vh;
}

.min-width-30rem {
  min-width: 30rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.scrollbar-width__thin {
  scrollbar-width: thin;
}

.cursor-move {
  cursor: move;
}

.max-width-45rem {
  max-width: 45rem;
}
