xbody * {
  outline: 1px solid red;
}

body {
  height: 100vh;
}

.min-width-30rem {
  min-width: 30rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.scrollbar-width__thin {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.max-width-45rem {
  max-width: 45rem;
}

.border-dashed {
  --bs-border-style: dashed;
  border-style: dotted;
}
.border-doted {
  --bs-border-style: dotted;
}

.ring-2 {
  outline-width: 2px;
}
.ring-3 {
  outline-width: 3px;
}
.ring-solid {
  outline-style: solid;
}
.ring-dashed {
  outline-style: dashed;
}
.ring-offset-2 {
  outline-offset: 2px;
}
.ring-offset--4 {
  outline-offset: -4px;
}
.ring-offset--3 {
  outline-offset: -3px;
}
.ring-offset-3 {
  outline-offset: 3px;
}
.ring-selected {
  outline-color: var(--bs-info);
}
.ring-transparent {
  outline-color: transparent;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.border-transparent {
  border: var(--bs-border-width) var(--bs-border-style) transparent !important;
}

.bg-danger-gradient {
  background-image: linear-gradient(
    to right,
    var(--bs-danger) 3px,
    transparent 3px
  );
}
.bg-success-gradient {
  background-image: linear-gradient(
    to right,
    var(--bs-success) 3px,
    transparent 3px
  );
}
.bg-warning-gradient {
  background-image: linear-gradient(
    to right,
    var(--bs-warning) 3px,
    transparent 3px
  );
}
.bg-info-gradient {
  background-image: linear-gradient(
    to right,
    var(--bs-info) 3px,
    transparent 3px
  );
}

.w-40 {
  width: 40% !important;
}

.overflow-x-scroll {
  overflow-x: scroll;
}
.form-control {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  &:hover {
    // box-shadow: rgba(0, 162, 255, 0.7) 0px 0px 5px 0px;
    box-shadow: rgba(var(--bs-primary-rgb), 0.5) 0px 0px 5px 0px;
  }
}

.max-w-20ch {
  max-width: 20ch;
}
.max-w-form {
  max-width: 110ch;
}

.btn-stepper {
  position: relative;
  border-top: 3px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    position: absolute;
    top: 1.1rem;
    z-index: 0;

    background-size: 100% 2px; // Full width, 1px height
    background-repeat: repeat-x; // Repeat horizontally
    background-position: top;
  }
  &::after {
    right: 50%;
  }
  &::before {
    left: 50%;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  &::-moz-scrollbar {
    display: none; /* Firefox */
  }
  scrollbar-width: none; /* Firefox */
}

.bg-pattern-notReadOnly {
  &::after,
  &::before {
    background-image: repeating-linear-gradient(
      to right,
      var(--bs-gray-200) 4px,
      var(--bs-gray-200) 6px
    );
  }
}
.bg-pattern-readOnly {
  &::after,
  &::before {
    background-image: repeating-linear-gradient(
      to right,
      transparent,
      transparent 3px,
      var(--bs-gray-600) 3px,
      var(--bs-gray-600) 6px
    );
  }
}

.z-2 {
  z-index: 2 !important;
}
.sideWidth {
  width: 28rem !important;
  min-width: 28rem !important;
}

.w-110ch {
  width: 110ch !important;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}

// .stepSelected {
//   border-top: 3px solid var(--bs-info);
// }

.border-bottom {
  &.border__inactive {
    --bs-border-color: #{$gray-300} !important;
  }
  &.border__transparent {
    --bs-border-color: transparent;
  }
}

.hover-primary-subtle {
  &:hover {
    background-color: var(--bs-primary-bg-subtle) !important;
    color: var(--bs-primary-text-emphasis) !important;
  }
}
