xxbody * {
  outline: 1px solid red;
}

body {
  height: 100vh;
}

.min-width-30rem {
  min-width: 30rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.scrollbar-width__thin {
  scrollbar-width: thin;
}

.cursor-move {
  cursor: move;
}

.max-width-45rem {
  max-width: 45rem;
}

.border-dashed {
  --bs-border-style: dashed;
}

.ring-2 {
  outline-width: 2px;
}
.ring-solid {
  outline-style: solid;
}
.ring-dashed {
  outline-style: dashed;
}
.ring-offset {
  outline-offset: 2px;
}
.ring-selected {
  outline-color: var(--bs-info);
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.border-transparent {
  border: var(--bs-border-width) var(--bs-border-style) transparent !important;
}
