{{ define "main" }}
  <div
    class="d-flex flex-column w-100 h-100 overflow-hidden"
    x-data="fieldComp">
    <div class="container-fluid bg-body shadow-sm sticky-top border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <strong class="h4">
            <a href="https://solopx.com" target="_blank"> sPx </a>
            Form editor</strong
          >
        </div>
        <div class="d-flex gap-3 align-items-stretch">
          <div class="py-2">
            <div class="btn-group border ">
              <!-- <button
                class="btn btn-link"
                @click="toggleDensity"
                :class="{
                  'text-success bg-success-subtle': density,
                  'text-muted': !density,
                }">
                {{ partial "svg/fa/regular-line-height.svg" (dict "class" "size1") }}
              </button> -->

              <button
                type="button"
                class="btn btn-link"
                @click="toggleValidate"
                x-data
                x-tooltip="Validate"
                :class="{
                'text-success bg-success-subtle': validateTool,
                'text-muted bg-light': !validateTool,
              }">
                {{ partial "svg/fa/regular-rotate-exclamation.svg" (dict "class" "size1") }}
              </button>
              <template x-if="!preview">
                <button
                  class="btn btn-link"
                  @click="toggleDevTool"
                  :disabled="density === 'compact'"
                  x-data
                  x-tooltip="Debug"
                  :style="density === 'compact' ? '--bs-border-opacity: .5;' : '--bs-border-opacity: 1;'"
                  :class="{
                    'text-success bg-success-subtle': devTool,
                    'bg-light text-muted': !devTool,
                    'text-muted opacity-25': density === 'compact',
                }">
                  {{ partial "svg/fa/regular-code.svg" (dict "class" "size1") }}
                </button>
              </template>
              <template x-if="preview">
                <button
                  class="btn btn-link"
                  @click="toggleAdvanced"
                  x-data
                  x-tooltip="Audit"
                  :class="{
                'text-success bg-success-subtle': advancedTool,
                'bg-light text-muted': !advancedTool,
              }">
                  {{ partial "svg/fa/regular-microscope.svg" (dict "class" "size1") }}
                </button>
              </template>
            </div>
          </div>
          <div class="align-self-stretch d-flex border-start ps-3">
            <div class="d-flex align-items-center gap-2">
              <span> Density </span>
              <div class="btn-group border">
                <button
                  class="btn"
                  x-data
                  x-tooltip="compact"
                  :class="{
                    'text-success bg-success-subtle': density === 'compact',
                    'bg-light text-muted': density !== 'compact',
                  }"
                  @click="density = 'compact'">
                  S
                </button>
                <button
                  class="btn"
                  x-data
                  x-tooltip="default"
                  :class="{
                    'text-success bg-success-subtle': density === 'default',
                    'bg-light text-muted': density !== 'default',
                  }"
                  @click="density = 'default'">
                  M
                </button>
                <button
                  class="btn"
                  x-data
                  x-tooltip="comfortable"
                  :class="{
                    'text-success bg-success-subtle': density === 'comfortable',
                    'bg-light text-muted': density !== 'comfortable',
                  }"
                  @click="density = 'comfortable'">
                  L
                </button>
              </div>
            </div>
          </div>
          <div class="align-self-stretch d-flex border-start ps-3">
            <div class="d-flex align-items-center gap-2">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="switchPreview"
                  :checked="preview"
                  @change="togglePreview" />
                <label class="form-check-label text-nowrap" for="switchPreview">
                  Preview Form
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-body d-flex justify-content-evenly px-3 w-100">
      <template x-for="(step, index) in steps" :key="index">
        <button
          class=" bg-transparent d-flex flex-column gap-1 flex-fill align-items-center btn-stepper mt-2 pt-2 pb-1"
          :class="{
          'text-body-tertiary bg-pattern-readOnly': step.readOnly,
          'text-body-tertiary bg-pattern-notReadOnly': !step.readOnly,
          'stepSelected bg-body-secondary rounded-top-3 xrounded-3 ring-3 ring-solid ring-offset-2 ring-selected': currentStepSelected === index,
        }">
          <div
            class="d-flex z-2 "
            :cass="{
              'bg-body': currentStepSelected !== index,
              'bg-body-secondary': currentStepSelected === index,
            }">
            <span
              style="width: 2.2rem;"
              :class="{
                
              'border-dark border-2 border-doted': step.readOnly,
              'shadow-sm': !step.readOnly,
              'ring-3 ring-solid ring-offset-2 ring-selected': ccurrentStepSelected === index,
            }"
              class="bg-white rounded-circle d-block ratio ratio-1x1 rounded-full border d-flex align-items-center justify-content-center">
              <small
                :class="{
                  'opacity-50': step.readOnly
                }"
                class=" d-flex align-items-center justify-content-center"
                x-text="index + 1">
              </small>
            </span>
          </div>
          <strong
            :class="{
            'opacity-50': step.readOnly
          }">
            <small x-text="step.label"> </small>
          </strong>
        </button>
      </template>
    </div>
    <div class="d-flex h-100 overflow-hidden bg-body-secondary">
      <div
        class="d-flex flex-column flex-grow-1 w-100 h-100 overflow-y-scroll"
        :class="{
          'compact-noPreview py-2 gap-2': density === 'compact' && !preview,
          'default-noPreview py-2 gap-2': density === 'default' && !preview,
          'comfortable-noPreview py-3 gap-3': density === 'comfortable' && !preview,
          'compact-preview py-2 gap-0': density === 'compact' && preview,
          'default-preview py-2 gap-0': density === 'default' && preview,
          'comfortable-preview py-3 gap-0': density === 'comfortable' && preview,
        }">
        <template x-if="preview">
          <template x-for="(field, index) in fields" :key="index">
            <template x-if="!field.readOnly">
              <div
                class="container px-0 max-w-form bg-body"
                :class="{
              'rounded rounded-3 overflow-hidden ': !preview,
              'bg-warning-gradient': field.alert?.type === 'warning',
              'bg-danger-gradient': field.alert?.type === 'danger',
              'bg-info-gradient': field.alert?.type === 'info',
              'bg-success-gradient': field.alert?.type === 'success',
              }">
                <template x-if="field.type === 'form'">
                  <div class="d-flex flex-column xxborder  ">
                    <div
                      class="d-flex align-items-center py-2 px-3 border-bottom">
                      <template x-if="advancedTool">
                        <button
                          x-data
                          x-tooltip="Audit"
                          class="btn btn-link btn-sm">
                          {{ partial "svg/fa/regular-timeline.svg" (dict "class" "size1") }}
                        </button>
                      </template>
                      <strong class="h5 mb-0"> Inline form </strong>
                      <template x-if="field.mandatory">
                        <div
                          class="btn btn-link btn-sm"
                          x-data
                          x-tooltip="Mandatory">
                          <span class="text-danger">
                            {{ partial "svg/fa/regular-exclamation-triangle.svg" (dict "class" "size1 ") }}
                          </span>
                        </div>
                      </template>
                    </div>
                    {{ partial "partials/field/inline-form.html" . }}
                  </div>
                </template>
                <template x-if="field.type !== 'form'">
                  <div class="row g-0">
                    <div class="col-5 py-2">
                      <label class="form-label" :for="field.id">
                        <div class="d-flex align-items-start px-2">
                          <template x-if="advancedTool">
                            <button
                              x-data
                              x-tooltip="Audit"
                              class="btn btn-link btn-sm">
                              {{ partial "svg/fa/regular-timeline.svg" (dict "class" "size1") }}
                            </button>
                          </template>
                          {{ partial "partials/field/iconTypes.html" . }}


                          <strong
                            class="mt-1"
                            :class="{
                          'text-info': field?.alert?.type === 'info' && validateTool,
                          'text-danger': field?.alert?.type === 'danger' && validateTool,
                          'text-warning': field?.alert?.type === 'warning' && validateTool,
                          'text-success': field?.alert?.type === 'success' && validateTool,
                          
                        }"
                            ><small x-text="field.label"></small>
                          </strong>
                          <template x-if="field.mandatory">
                            <div
                              class="btn btn-link btn-sm"
                              x-data
                              x-tooltip="Mandatory">
                              <span class="text-danger">
                                {{ partial "svg/fa/regular-exclamation-triangle.svg" (dict "class" "size1 ") }}
                              </span>
                            </div>
                          </template>
                        </div>
                      </label>
                    </div>
                    <div class="col-7 py-2 pe-2">
                      <div class="d-flex w-100 align-items-center">
                        <div
                          class="d-flex flex-grow-1"
                          :class="{
                      'gap-2 flex-column': !field.inline,
                      'gap-3': field.inline,
                    }">
                          {{ partial "partials/field/fieldTypes.html" . }}
                        </div>
                        <template x-if="advancedTool">
                          <div>
                            <button
                              x-data
                              x-tooltip="Notes"
                              class="btn btn-link btn-sm">
                              {{ partial "svg/fa/regular-message.svg" (dict "class" "size1") }}
                            </button>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                </template>
                {{ partial "partials/field/help.html" . }}
                {{ partial "partials/field/alert.html" . }}
              </div>
              <!-- <div class="container rounded-1 px-0 ">
              </div> -->
            </template>
          </template>
        </template>
        <template x-if="!preview">
          <template x-for="(field, index) in fields" :key="index">
            <div
              class="container rounded rounded-3 px-0 max-w-form bg-body"
              @click="select(index)"
              :style="{
                '--bs-border-opacity': !field.readOnly ? '.5' : '1',
              }"
              :class="{
                ...getClass(field, index),
                'opacity-50': field.readOnly
                
              }">
              <div
                class="container px-0 rounded-3"
                :class="{
                  'bg-warning-gradient bg-opacity-10': field.alert?.type === 'warning',
                  'bg-danger-gradient bg-opacity-10': field.alert?.type === 'danger',
                  'bg-info-gradient bg-opacity-10': field.alert?.type === 'info',
                  'bg-success-gradient bg-opacity-10': field.alert?.type === 'success',
              }">
                <template x-if="density !== 'compact'">
                  <div
                    class="row g-0 mb-1 border-bottom"
                    :class="{
                    'py-0': density === 'compact',
                    'pt-1': density === 'default',
                    'py-2': density === 'comfortable',
                  }">
                    <div class="col-12">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex">
                          <div class="p-2 ps-3">
                            <template x-if="field.readOnly">
                              <div x-data x-tooltip="ReadOnly">
                                {{ partial "svg/fa/regular-eye-slash.svg" (dict "class" "size1 opacity-25") }}
                              </div>
                            </template>
                            <template x-if="!field.readOnly">
                              <div x-data x-tooltip="Visible">
                                {{ partial "svg/fa/regular-eye.svg" (dict "class" "size1") }}
                              </div>
                            </template>
                          </div>
                          <template x-if="field.mandatory">
                            <div
                              x-data
                              x-tooltip="Mandatory"
                              class="p-2 d-flex gap-2 align-items-center text-danger">
                              {{ partial "svg/fa/regular-exclamation-triangle.svg" (dict "class" "size1 ") }}
                              <small> mandatory </small>
                            </div>
                          </template>
                        </div>
                        <template x-if="devTool">
                          <div class="d-flex">
                            <template x-if="!field.valid">
                              <div class="p-2" x-data x-tooltip="Invalid">
                                {{ partial "svg/fa/regular-check.svg" (dict "class" "size1 text-danger opacity-50") }}
                              </div>
                            </template>
                            <template x-if="field.valid">
                              <div class="p-2" x-data x-tooltip="Valid">
                                {{ partial "svg/fa/regular-check.svg" (dict "class" "size1 text-success") }}
                              </div>
                            </template>
                            <template x-if="!field.touched">
                              <div class="p-2" x-data x-tooltip="Untouched">
                                {{ partial "svg/fa/hand-point-up.svg" (dict "class" "size1 text-danger opacity-50") }}
                              </div>
                            </template>
                            <template x-if="field.touched">
                              <div class="p-2" x-data x-tooltip="Touched">
                                {{ partial "svg/fa/hand-point-up.svg" (dict "class" "size1 text-success") }}
                              </div>
                            </template>
                            <template x-if="!field.link.length">
                              <div class="p-2" x-data x-tooltip="No link">
                                {{ partial "svg/fa/regular-link-slash.svg" (dict "class" "size1  opacity-25") }}
                              </div>
                            </template>
                            <template x-if="field.link.length">
                              <div class="p-2" x-data x-tooltip="Linked">
                                {{ partial "svg/fa/regular-link.svg" (dict "class" "size1  text-success") }}
                              </div>
                            </template>
                            <template x-if="!field.sync">
                              <div class="p-2" x-data x-tooltip="Not Synced">
                                {{ partial "svg/fa/regular-arrows-rotate.svg" (dict "class" "size1 opacity-25") }}
                              </div>
                            </template>
                            <template x-if="field.sync">
                              <div class="p-2" x-data x-tooltip="Synced">
                                {{ partial "svg/fa/regular-arrows-rotate.svg" (dict "class" "size1 text-success") }}
                              </div>
                            </template>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                </template>
                <template x-if="field.type === 'form'">
                  <div
                    class="w-100 d-flex flex-column"
                    :class="{
                    'py-0': density === 'compact',
                    'pt-1': density === 'default',
                    'py-2': density === 'comfortable',
                  }">
                    <!-- <div class="py-2 px-3 border-bottom">
                      <strong class="h5"> Inline form </strong>
                    </div> -->
                    <div class="w-100">
                      {{ partial "partials/field/inline-form.html" . }}
                    </div>
                  </div>
                </template>
                <template x-if="field.type !== 'form'">
                  <div
                    class="row g-0"
                    :class="{
                    'py-1': density === 'compact',
                    'pt-2': density === 'default',
                    'py-3': density === 'comfortable',
                  }">
                    <label class="col-5 col-form-label" :for="field.id">
                      <div class="d-flex gap-2 align-items-start px-2">
                        <template
                          x-if="density === 'compact' && field.mandatory">
                          <div
                            class="btn btn-link btn-sm"
                            x-data
                            x-tooltip="Mandatory">
                            <span class="text-danger">
                              {{ partial "svg/fa/regular-exclamation-triangle.svg" (dict "class" "size1 ") }}
                            </span>
                          </div>
                        </template>
                        {{ partial "partials/field/iconTypes.html" . }}
                        <strong class="pt-1"
                          ><small x-text="field.label"></small>
                        </strong>
                      </div>
                    </label>
                    <div class="col-7">
                      <div class="d-flex w-100 align-items-center px-1">
                        <div
                          class="flex-grow-1 d-flex pt-1"
                          :class="{
                              'gap-2 flex-column': !field.inline,
                              'gap-3': field.inline,
                            }">
                          {{ partial "partials/field/fieldTypes.html" . }}
                        </div>
                      </div>
                    </div>
                    {{ partial "partials/field/help.html" . }}
                  </div>
                </template>

                {{ partial "partials/field/alert.html" . }}
              </div>
            </div>
          </template>
        </template>
      </div>
      {{ partial "partials/field/editor.html" . }}
    </div>
  </div>
{{ end }}
