<template x-if="currentEditorSelected === 'section'">
  <section>
    <template x-if="!addSectionVisible">
      <div class=" border-top">
        <!-- <div class="d-flex align-items-center ">
          <div class="flex-grow-1 px-2">
            <strong>
              <small>Edit Selected Section</small>
            </strong>
          </div>
          <div>
            <div class="btn-group"></div>
          </div>
        </div> -->
        <template
          x-if="form.steps?.[currentStepSelected]?.sections?.[currentSectionSelected]">
          <form class="py-2 px-2" @submit.prevent="saveToLocalStorage">
            <div class="mb-3">
              <label for="sectionTitle" class="form-label">Section Title</label>
              <input
                type="text"
                id="sectionTitle"
                class="form-control"
                x-model="form.steps[currentStepSelected].sections[currentSectionSelected].title"
                placeholder="Enter section title"
                required />
            </div>
            <div class="mb-3">
              <label for="sectionLabel" class="form-label">Section Label</label>
              <input
                type="text"
                id="sectionLabel"
                class="form-control"
                x-model="form.steps[currentStepSelected].sections[currentSectionSelected].label"
                placeholder="Enter section label"
                required />
            </div>
          </form>
        </template>
        <template
          x-if="!form.steps?.[currentStepSelected]?.sections?.[currentSectionSelected]">
          <div class="p-2">
            <div class="alert alert-info mb-0" role="alert">
              No section selected or available for this step.
            </div>
          </div>
        </template>
      </div>
    </template>
    <template x-if="addSectionVisible">
      <section class="">
        <div class="p-2 border-top ">
          <strong class=" mt-3">
            <small>+ New Section</small>
          </strong>
          <form @submit.prevent="addSection">
            <div class="mb-3">
              <label for="newSectionTitle" class="form-label"
                >New Section Title</label
              >
              <input
                type="text"
                id="newSectionTitle"
                class="form-control"
                x-model="newSection.title"
                placeholder="Enter section title"
                required />
            </div>
            <div class="mb-3">
              <label for="newSectionLabel" class="form-label"
                >New Section Label</label
              >
              <input
                type="text"
                id="newSectionLabel"
                class="form-control"
                x-model="newSection.label"
                placeholder="Enter section label"
                required />
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <button
                  @click="toggleAddSectionVisible()"
                  class="btn btn-sm btn-link">
                  Cancel
                </button>
              </div>
              <div>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Add New Section
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </template>
  </section>
</template>
