<template x-if="!showEditor">
  <div class="d-flex h-100 border-start bg-body">
    <button
      @click="toggleEditor()"
      class="btn btn-link d-flex align-items-start pt-2">
      <template x-if="showEditor">
        {{ partial "svg/fa/regular-chevron-right.svg" (dict "class" "icon-size-s") }}
      </template>
      <template x-if="!showEditor">
        {{ partial "svg/fa/regular-chevron-left.svg" (dict "class" "icon-size-s") }}
      </template>
    </button>
  </div>
</template>
<template x-if="showEditor">
  <div
    class="border-start sideWidth h-100 d-flex overflow-hidden d-flex flex-column bg-body">
    <button
      @click="toggleEditor()"
      class="btn btn-link border-end d-flex align-items-center gap-2 border-bottom text-decoration-none">
      <template x-if="showEditor">
        {{ partial "svg/fa/regular-chevron-right.svg" (dict "class" "icon-size-s") }}
      </template>
      <template x-if="!showEditor">
        {{ partial "svg/fa/regular-chevron-left.svg" (dict "class" "icon-size-s") }}
      </template>
      <small class="text-dark"> Form Editor </small>
    </button>
    <form
      @submit.prevent="saveToLocalStorage"
      class="d-flex flex-column w-100 h-100 overflow-hidden flex-grow-1">
      <div
        class="flex-grow-1 overflow-y-auto d-flex flex-column scrollbar-width__thin">
        {{ partial "partials/field/editor_form.html" . }}

        {{ partial "partials/field/editor_step.html" . }}

        {{ partial "partials/field/editor_section.html" . }}

        {{ partial "partials/field/editor_field.html" . }}
      </div>
    </form>
  </div>
</template>
