<div
  class="border-bottom bg-light shadow-sm sticky-top d-flex align-items-center justify-content-between"
  :class="{'shadow-sm' : currentEditorSelected === 'step'}">
  <div class="flex-grow-1">
    <button
      class="btn btn-link btn-sm text-decoration-none w-100 text-start text-align-start"
      type="button"
      @click="selectEditor('step')">
      <strong>
        <!-- <span x-text="currentStepSelected"></span> -->
        Step
      </strong>
    </button>
  </div>
  <div>
    <div class="d-flex">
      <button
        class="btn btn-link btn-sm"
        @click="trashStep(currentStepSelected)">
        {{ partial "svg/fa/regular-trash.svg" (dict "class" "icon-size-s") }}
      </button>

      <button class="btn btn-link btn-sm" x-tooltip="Step audit">
        {{ partial "svg/fa/regular-rectangle-vertical-history.svg" (dict "class" "icon-size-s") }}
      </button>
      <button class="btn btn-link btn-sm" x-tooltip="Advance JSON">
        {{ partial "svg/fa/regular-brackets-curly.svg" (dict "class" "icon-size-s") }}
      </button>
      <button
        @click="toggleAddStepVisible()"
        :disabled="addStepVisible === true"
        class="btn btn-link btn-sm"
        x-tooltip="Add step">
        {{ partial "svg/fa/regular-plus.svg" (dict "class" "icon-size-s") }}
      </button>

      <button class="btn btn-link btn-sm" x-tooltip="Save step">
        {{ partial "svg/fa/regular-cloud-upload.svg" (dict "class" "icon-size-s") }}
      </button>
    </div>
  </div>
</div>
