<div
  class="border-bottom bg-light shadow-sm sticky-top d-flex align-items-center justify-content-between"
  :class="{'shadow-sm' : currentEditorSelected === 'step'}">
  <div class="flex-grow-1">
    <button
      class="btn btn-link btn-sm text-decoration-none w-100 text-start text-align-start"
      type="button"
      @click="selectEditor('step')">
      <strong>
        <!-- <span x-text="currentStepSelected"></span> -->
        Step
      </strong>
    </button>
  </div>
  <div>
    <div class="btn-group">
      <button
        @click="toggleAddStepVisible()"
        :disabled="addStepVisible === true"
        class="btn btn-link"
        x-tooltip="Add step">
        {{ partial "svg/fa/regular-plus.svg" (dict "class" "icon-size-s") }}
      </button>

      <button class="btn btn-link" x-tooltip="Save step">
        {{ partial "svg/fa/regular-cloud-upload.svg" (dict "class" "icon-size-s") }}
      </button>
    </div>
  </div>
</div>

<template x-if="currentEditorSelected === 'step'">
  <section>
    <!-- Edit Current -->
    <template x-if="!addStepVisible && form.steps[currentStepSelected]">
      <div class="border-top">
        <div class="d-flex align-items-center ">
          <div class="flex-grow-1 px-2">
            <strong>
              <small>Edit Step</small>
            </strong>
          </div>
          <div>
            <div class="btn-group">
              <button
                class="btn btn-link btn-sm"
                @click="trashStep(currentStepSelected)">
                {{ partial "svg/fa/regular-trash.svg" (dict "class" "icon-size-s") }}
              </button>

              <button class="btn btn-link" x-tooltip="Step audit">
                {{ partial "svg/fa/regular-rectangle-vertical-history.svg" (dict "class" "icon-size-s") }}
              </button>
              <button class="btn btn-link" x-tooltip="Advance JSON">
                {{ partial "svg/fa/regular-brackets-curly.svg" (dict "class" "icon-size-s") }}
              </button>
            </div>
          </div>
        </div>

        <form class="pt-2 px-2" @submit.prevent="saveToLocalStorage">
          <div class="mb-3">
            <label for="stepTitle" class="form-label">Step Title</label>
            <input
              type="text"
              id="stepTitle"
              class="form-control"
              x-model="form.steps[currentStepSelected].title"
              placeholder="Enter step title"
              required />
          </div>
          <div class="mb-3">
            <label for="stepLabel" class="form-label">Step Label</label>
            <input
              type="text"
              id="stepLabel"
              class="form-control"
              x-model="form.steps[currentStepSelected].label"
              placeholder="Enter step label"
              required />
          </div>
          <div class="mb-3">
            <label for="stepId" class="form-label">Step ID</label>
            <input
              type="text"
              id="stepId"
              class="form-control"
              x-model="form.steps[currentStepSelected].id"
              placeholder="Enter step ID"
              required />
          </div>
          <div class="mb-3">
            <label for="stepStatus" class="form-label">Status</label>
            <select
              id="stepStatus"
              class="form-select"
              x-model="form.steps[currentStepSelected].status">
              <option value="pending">Pending</option>
              <option value="completed">Completed</option>
              <option value="in-progress">In Progress</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="stepVisible" class="form-label">Visible</label>
            <input
              type="checkbox"
              id="stepVisible"
              class="form-check-input"
              x-model="form.steps[currentStepSelected].visible" />
            <label for="stepVisible" class="form-check-label">Is Visible</label>
          </div>
          <div class="mb-3">
            <label for="stepReadOnly" class="form-label">Read-Only</label>
            <input
              type="checkbox"
              id="stepReadOnly"
              class="form-check-input"
              x-model="form.steps[currentStepSelected].readOnly" />
            <label for="stepReadOnly" class="d-none form-check-label"
              >Is Read-Only</label
            >
          </div>
          <button type="submit" class="btn btn-sm btn-outline-primary">
            Save Step
          </button>
        </form>
      </div>
    </template>
    <template x-if="form.steps.length === 0">
      <div class="alert alert-info m-2" role="alert">
        <span>no step</span>
      </div>
    </template>
    <template x-if="form.steps.length">
      <div>
        <template x-if="!form.steps[currentStepSelected]?.sections?.length">
          <div class="alert alert-info m-2" role="alert">
            No sections available for this step.
          </div>
        </template>
        <!-- Add form to edit current selected Step -->
      </div>
    </template>
    <!-- + Step  -->
    <template x-if="addStepVisible">
      <div class=" p-2">
        <div>
          <strong>
            <small>Add a New Step</small>
          </strong>
          <form class="py-2" @submit.prevent="addStep">
            <div class="mb-3">
              <label for="stepTitle" class="form-label">Step Title</label>
              <input
                type="text"
                id="stepTitle"
                class="form-control"
                x-model="newStep.title"
                placeholder="Enter step title"
                required />
            </div>
            <div class="mb-3">
              <label for="stepLabel" class="form-label">Step Label</label>
              <input
                type="text"
                id="stepLabel"
                class="form-control"
                x-model="newStep.label"
                placeholder="Enter step label"
                required />
            </div>
            <div class="mb-3">
              <label for="stepId" class="form-label">Step ID</label>
              <input
                type="text"
                id="stepId"
                class="form-control"
                x-model="newStep.id"
                placeholder="Enter step ID"
                required />
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <button
                  class="btn btn-sm btn-link"
                  @click="toggleAddStepVisible()">
                  Cancel
                </button>
              </div>
              <div>
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  Add Step
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </template>
  </section>
</template>
