<div class="w-100 overflow-hidden">
  <div class="overflow-x-scroll">
    <div class="row g-2 flex-nowrap px-2">
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
      <div class="col-3 py-2">
        <strong> Label 1 </strong>
      </div>
    </div>
    <div class="row g-2 flex-nowrap p-2">
      <div class="col-3 pb-2">
        <label for="inputAddress1" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress1"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress2" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress2"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress3" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress3"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress4" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress4"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress5" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress5"
          placeholder="1234 Main St" />
        <div id="emailHelp" class="form-text">
          <small>
            We'll never share your email with anyone else. Lorem ipsum dolor sit
            amet .
          </small>
        </div>
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress6" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="inputAddress6"
          placeholder="1234 Main St" />
        <div class="invalid-feedback">
          do something - you did something wrong !
        </div>
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress7" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="inputAddress7"
          placeholder="1234 Main St" />
        <div id="emailHelp" class="form-text">
          <small>
            We'll never share your email with anyone else. Lorem ipsum dolor sit
            amet .
          </small>
        </div>
        <div class="invalid-feedback">
          do something - you did something wrong !
        </div>
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress8" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress8"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress9" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress9"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress10" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress10"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress11" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress11"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress12" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress12"
          placeholder="1234 Main St" />
      </div>
    </div>
    <div class="row g-2 flex-nowrap p-2">
      <div class="col-3 pb-2">
        <label for="inputAddress13" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress13"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress14" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress14"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress15" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress15"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress16" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress16"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress17" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress17"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress18" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress18"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress19" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress19"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress20" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress20"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress21" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress21"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress22" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress22"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress23" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress23"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress24" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress24"
          placeholder="1234 Main St" />
      </div>
    </div>
    <div class="row g-2 flex-nowrap p-2">
      <div class="col-3 pb-2">
        <label for="inputAddress25" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress25"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress26" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress26"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress27" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress27"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress28" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress28"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress29" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress29"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress30" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress30"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress31" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress31"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress32" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress32"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress33" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress33"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress34" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress34"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress35" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress35"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress36" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress36"
          placeholder="1234 Main St" />
      </div>
    </div>
    <div class="row g-2 flex-nowrap p-2">
      <div class="col-3 pb-2">
        <label for="inputAddress37" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress37"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress38" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress38"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress39" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress39"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress40" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress40"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress41" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress41"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress42" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress42"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress43" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress43"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress44" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress44"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress45" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress45"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress46" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress46"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress47" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress47"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress48" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress48"
          placeholder="1234 Main St" />
      </div>
    </div>
    <div class="row g-2 flex-nowrap p-2">
      <div class="col-3 pb-2">
        <label for="inputAddress49" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress49"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress50" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress50"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress51" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress51"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress52" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress52"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress53" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress53"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress54" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress54"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress55" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress55"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress56" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress56"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress57" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress57"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress58" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress58"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress59" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress59"
          placeholder="1234 Main St" />
      </div>
      <div class="col-3 pb-2">
        <label for="inputAddress60" class="form-label d-none">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress60"
          placeholder="1234 Main St" />
      </div>
    </div>
  </div>
</div>
