<section class="border-bottom">
  <div class="d-flex justify-content-end mb-2 px-2">
    <div class="btn-group">
      <button
        class="btn btn-outline-primary btn-sm"
        :disabled="form.steps.every(step => !step.collapsed && step.sections.every(section => !section.collapsed))"
        @click="form.steps.forEach(step => step.collapsed = false); form.steps.forEach(step => step.sections.forEach(section => section.collapsed = false))">
        Expand All
      </button>
      <button
        class="btn btn-outline-primary btn-sm"
        :disabled="form.steps.every(step => step.collapsed && step.sections.every(section => section.collapsed))"
        @click="form.steps.forEach(step => step.collapsed = true); form.steps.forEach(step => step.sections.forEach(section => section.collapsed = true))">
        Collapse All
      </button>
    </div>
  </div>
  <!-- <div class="d-flex justify-content-end mb-2 px-2">
    <div class="btn-group">
      <button
        class="btn btn-outline-primary btn-sm"
        @click="form.steps.forEach(step => step.collapsed = false); form.steps.forEach(step => step.sections.forEach(section => section.collapsed = false))">
        Expand All
      </button>
      <button
        class="btn btn-outline-primary btn-sm"
        @click="form.steps.forEach(step => step.collapsed = true); form.steps.forEach(step => step.sections.forEach(section => section.collapsed = true))">
        Collapse All
      </button>
    </div>
  </div> -->

  <div class="sortable-steps" x-sort>
    <template x-for="(step, stepIndex) in form.steps" :key="stepIndex">
      <div class="border-top  shadow-sm" x-sort:item>
        <div class="ps-2 py-2 bg-body-secondary">
          <div
            @click="selectAndScroll(stepIndex)"
            class="d-flex align-items-center ">
            <div class="flex-grow-1 h4 mb-0">
              <span x-sort:handle class="cursor-move me-2">
                {{ partial "svg/fa/regular-ellipsis-vertical.svg" (dict "class" "size1") }}
              </span>
              <div
                class="badge "
                :class="{
                'text-bg-primary' : currentStepSelected === stepIndex,
                'text-dark' : currentStepSelected !== stepIndex,
            }">
                <strong x-text="(stepIndex + 1) + '. ' + step.title"></strong>
              </div>
            </div>
            <div>
              <button
                class="btn btn-link btn-sm"
                @click.stop="step.collapsed = !step.collapsed">
                <!-- <span x-text="step.collapsed ? 'Expand' : 'Collapse'"></span> -->
                <template x-if="step.collapsed">
                  {{ partial "svg/fa/regular-chevron-down.svg" (dict "class" "size1") }}
                </template>
                <template x-if="!step.collapsed">
                  {{ partial "svg/fa/regular-chevron-up.svg" (dict "class" "size1") }}
                </template>
              </button>
            </div>
          </div>
        </div>

        <section class="border-top" x-show="!step.collapsed">
          <div class="sortable-sections" x-sort>
            <template
              x-for="(section, sectionIndex) in step.sections"
              :key="sectionIndex">
              <div x-sort:item>
                <div
                  class="d-flex ps-2 py-2 align-items-center"
                  :class="{
                    'hover-primary-subtle cursor-pointer':  !(sectionIndex === currentSectionSelected && currentStepSelected === stepIndex),
                  }">
                  <div
                    class="d-flex flex-grow-1 gap-1"
                    @click="navigateToAnything(stepIndex, sectionIndex, null)">
                    <span x-sort:handle class="cursor-move me-2">
                      {{ partial "svg/fa/regular-ellipsis-vertical.svg" (dict "class" "size1") }}
                    </span>
                    <template x-if="section.displayCondition !== true">
                      <div
                        x-data
                        x-tooltip="displayCondition"
                        class="py-1 d-flex align-items-center">
                        {{ partial "svg/fa/regular-eye-slash.svg" (dict "class" "icon-size-s opacity-25") }}
                      </div>
                    </template>
                    <template x-if="section.readOnly">
                      <div
                        x-data
                        x-tooltip="Hidden"
                        class="py-1 d-flex align-items-center text-danger">
                        {{ partial "svg/fa/regular-ban.svg" (dict "class" "icon-size-s ") }}
                      </div>
                    </template>
                    <div
                      class="text-primary-emphasis"
                      :class="{
                        'px-2 rounded rounded-1 bg-primary-subtle': sectionIndex === currentSectionSelected && currentStepSelected === stepIndex,
                        'bg-light': !(sectionIndex === currentSectionSelected && currentStepSelected === stepIndex),
                      }">
                      <span x-text="section.title"></span>
                    </div>
                  </div>
                  <div>
                    <button
                      class="btn btn-link btn-sm"
                      @click.stop="section.collapsed = !section.collapsed">
                      <!-- <span
                        x-text="section.collapsed ? 'Expand' : 'Collapse'"></span> -->
                      <template x-if="section.collapsed">
                        {{ partial "svg/fa/regular-chevron-down.svg" (dict "class" "size1") }}
                      </template>
                      <template x-if="!section.collapsed">
                        {{ partial "svg/fa/regular-chevron-up.svg" (dict "class" "size1") }}
                      </template>
                    </button>
                  </div>
                </div>
                <!-- Sortable Fields -->
                <section
                  class="border-bottom"
                  x-show="!section.collapsed"
                  x-sort:group>
                  <div class="sortable-fields">
                    <template
                      x-for="(field, fieldIndex) in section.fields"
                      :key="fieldIndex">
                      <div
                        @click="navigateToAnything(stepIndex, sectionIndex, fieldIndex)"
                        class="border-top py-1 ps-4 d-flex  "
                        :class="{
                            'hover-primary-subtle cursor-pointer': !(fieldIndex === currentFieldSelected && sectionIndex === currentSectionSelected && stepIndex === currentStepSelected),
                          }"
                        x-sort:item>
                        <div
                          class="d-flex align-items-center gap-2 flex-grow-1">
                          <span x-sort:handle class="cursor-move me-2">
                            {{ partial "svg/fa/regular-ellipsis-vertical.svg" (dict "class" "icon-size-s opacity-50") }}
                          </span>
                          <template x-if="field?.alert?.type">
                            <div
                              x-data
                              x-tooltip="Error"
                              class="py-1 d-flex align-items-center text-danger">
                              {{ partial "svg/fa/regular-exclamation-triangle.svg" (dict "class" "icon-size-s ") }}
                            </div>
                          </template>
                          <template x-if="field.displayCondition !== true">
                            <div
                              x-data
                              x-tooltip="displayCondition"
                              class="py-1 d-flex align-items-center">
                              {{ partial "svg/fa/regular-eye-slash.svg" (dict "class" "icon-size-s opacity-25") }}
                            </div>
                          </template>
                          <template x-if="field.readOnly">
                            <div
                              x-data
                              x-tooltip="Hidden"
                              class="py-1 d-flex align-items-center text-danger">
                              {{ partial "svg/fa/regular-ban.svg" (dict "class" "icon-size-s ") }}
                            </div>
                          </template>
                          <template x-if="field.mandatory">
                            <div
                              x-data
                              x-tooltip="Mandatory"
                              class="py-1 d-flex align-items-center text-danger">
                              {{ partial "svg/fa/solid-star-of-life.svg" (dict "class" "icon-size-s ") }}
                            </div>
                          </template>
                          <div
                            class=""
                            :class="{
                            'px-2 rounded rounded-1 text-primary-emphasis bg-primary-subtle': fieldIndex === currentFieldSelected && sectionIndex === currentSectionSelected && stepIndex === currentStepSelected,
                            'px-1': !(fieldIndex === currentFieldSelected && sectionIndex === currentSectionSelected && stepIndex === currentStepSelected),
                          }">
                            <!-- :class="{
                            'opacity-50': field.readOnly,
                          }" -->
                            <small x-text="field.label"></small>
                          </div>
                        </div>
                        <div>
                          <!-- <button
                            class="btn btn-link btn-sm"
                            @click="trashField(fieldIndex)">
                            {{ partial "svg/fa/regular-trash.svg" (dict "class" "size1") }}
                          </button> -->
                        </div>
                      </div>
                    </template>
                  </div>
                </section>
              </div>
            </template>
          </div>
        </section>
      </div>
    </template>
  </div>
</section>
