<section class="border-bottom">
  <div class="d-flex justify-content-end mb-2">
    <button
      class="btn btn-primary btn-sm me-2"
      @click="form.steps.forEach(step => step.collapsed = false); form.steps.forEach(step => step.sections.forEach(section => section.collapsed = false))">
      Expand All
    </button>
    <button
      class="btn btn-secondary btn-sm"
      @click="form.steps.forEach(step => step.collapsed = true); form.steps.forEach(step => step.sections.forEach(section => section.collapsed = true))">
      Collapse All
    </button>
  </div>

  <!-- Sortable Steps -->
  <div class="sortable-steps">
    <template x-for="(step, stepIndex) in form.steps" :key="stepIndex">
      <div class="border-top">
        <div class="ps-2 py-2">
          <div
            @click="selectAndScroll(stepIndex)"
            class="d-flex align-items-center">
            <div class="flex-grow-1">
              <span x-sort:handle class="cursor-move me-2">
                {{ partial "svg/fa/regular-ellipsis-vertical.svg" (dict "class" "size1") }}
              </span>
              <strong x-text="(stepIndex + 1) + '. ' + step.title"></strong>
            </div>
            <div>
              <button
                class="btn btn-link btn-sm"
                @click.stop="step.collapsed = !step.collapsed">
                <span x-text="step.collapsed ? 'Expand' : 'Collapse'"></span>
              </button>
            </div>
          </div>
        </div>

        <!-- Sortable Sections -->
        <section class="border-top" x-show="!step.collapsed">
          <div class="sortable-sections">
            <template
              x-for="(section, sectionIndex) in step.sections"
              :key="sectionIndex">
              <div>
                <div class="d-flex ps-2 py-2 align-items-center">
                  <div
                    class="flex-grow-1"
                    @click="select(stepIndex, sectionIndex, 0)">
                    <span x-sort:handle class="cursor-move me-2">
                      {{ partial "svg/fa/regular-ellipsis-vertical.svg" (dict "class" "size1") }}
                    </span>
                    <span x-text="section.title"></span>
                  </div>
                  <div>
                    <button
                      class="btn btn-link btn-sm"
                      @click.stop="section.collapsed = !section.collapsed">
                      <span
                        x-text="section.collapsed ? 'Expand' : 'Collapse'"></span>
                    </button>
                  </div>
                </div>
                <!-- Sortable Fields -->
                <section class="border-bottom" x-show="!section.collapsed">
                  <div x-sort class="sortable-fields">
                    <template
                      x-for="(field, fieldIndex) in section.fields"
                      :key="fieldIndex">
                      <div
                        @click="navigateToField(stepIndex, sectionIndex, fieldIndex)"
                        class="border-top py-1 ps-4 d-flex"
                        x-sort:item>
                        <div
                          class="d-flex align-items-center gap-2 flex-grow-1">
                          <span x-sort:handle class="cursor-move me-2">
                            {{ partial "svg/fa/regular-ellipsis-vertical.svg" (dict "class" "size1") }}
                          </span>
                          <small x-text="field.label"></small>
                        </div>
                        <div>
                          <button
                            class="btn btn-link btn-sm"
                            @click="deleteField(fieldIndex)">
                            {{ partial "svg/fa/regular-trash.svg" (dict "class" "size1") }}
                          </button>
                        </div>
                      </div>
                    </template>
                  </div>
                </section>
              </div>
            </template>
          </div>
        </section>
      </div>
    </template>
  </div>
</section>
